# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Dependency directory
node_modules

# Coverage reports
coverage

# API keys and secrets
.env

# Ignore built TypeScript files
dist/**/*

# ignore yarn.lock
yarn.lock
